<br> <br> 
<article>
  <p>
This project have three main licenses. 
  </p>
  <br><br> 
<ul>
  <li>Main website <a href="https://art.odicforcesounds.com/pages/License/index.html">License</a> is the Global License.</li>
  <br><br> 
  <li><a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons</a> Aims to cover Video and Music sections.</li>
  <br><br> 
  <li>
  <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> aims to cover Software development sections. </li>
</ul>
</article>
